/*.master-detail {
  display: flex;
}*/

.master {
  background-color: pink;
  height: 100px;
  flex: 2;
  order: 2;
}

.detail {
  order: 1;
  height: 100px;
  flex: 1;
  background-color: red;
}

@media(min-width: 900px) {
  .master-detail {
    display: flex;
  }
}