{{outlet}}
<div class='master-detail'>
  <div class='master'>
  </div>
  <div class='detail'>
    <div id='image-upload-wrapper'>
      <label for='new-post'>Upload An Image</label>
      {{s3-upload id="new-post"}}
    </div>
  </div>
</div>